<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752106834657-olfon8io99d07mb7nrua25milk5l2dh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752106834657-olfon8io99d07mb7nrua25milk5l2dh3</string>
	<key>API_KEY</key>
	<string>AIzaSyBB4WQ7oR4IbH_DIC8ZH3Aq8irJj-sABAI</string>
	<key>GCM_SENDER_ID</key>
	<string>752106834657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.venturatravel.travelapp.dev</string>
	<key>PROJECT_ID</key>
	<string>test-ventura-app</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ventura-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752106834657:ios:aee4dc06bc1a8acebbc5a0</string>
</dict>
</plist>